<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/pokemons/new"	<%- title === 'Add Pokemon' ? 'class="active"' : '' %>>Add New Pokemon</a>
    <a href="/pokemons" <%- title === 'All Pokemon' ? 'class="active"' : '' %>>All Indexed Pokemon</a>
    <a href="/researchers/profile" <%- title === 'Researcher Page' %>>Your Researcher Profile</a>
    <a href="/logout" class="loginbutton" <%- title === 'Log Out' ? 'class="active"' : ''%>>Log Out</a>
  </nav>
  <main>