<%- include('../partials/header') %>
<div class = "pokemonindex">
  <img src = "http://37.media.tumblr.com/37cd947b2e5e703f6174c5a86f1ede41/tumblr_n77yu5PzwL1ts7zvxo1_500.gif" style="width:300px;height:245px">
<table id="list">
  <thead>
    <tr>
      <th>Pokedex Entry</th>
      <th>Name:</th>
      <th>ID:</th>
      <th>Type 1:</th>
      <th>Type 2:</th>
    </tr>
  </thead>
  <tbody>
    <% pokemons.forEach(function(p) { %>
      <tr>
        <td><a href="/pokemons/<%= p._id %>"><img src="https://i.imgur.com/uYbHacI.png"></a></td>
        <td><%= p.pokename %></td>
        <td><%= p.pokeid %></td>
        <td><%= p.poketype1 %></td>
        <td><%= p.poketype2 %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  </div>
<%- include('../partials/footer') %>
