<%- include('../partials/header') %>
<div class = "pokemonindex">
<table id="list">
  <thead>
    <tr>
      <th>Name:</th>
      <th>ID:</th>
      <th>Type 1:</th>
      <th>Type 2:</th>
    </tr>
  </thead>
  <tbody>
    <% pokemons.forEach(function(p) { %>
      <tr>
        <td><%= p.pokename %></td>
        <td><%= p.pokeid %></td>
        <td><%= p.poketype1 %></td>
        <td><%= p.poketype2 %></td>
        <td><a href="/pokemons/<%= p._id %>">Details</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  </div>
<%- include('../partials/footer') %>
